name: Tests and Checks

on: [push]

jobs:
  build-test-check:
    name: Install deps, build required package, typecheck, lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm build
      - name: Generate Prisma Types
        run: cd apps/server && pnpm prisma generate
      - name: Typecheck
        run: pnpm ts:check
      - name: Linting & Formatting
        run: pnpm check
      - name: Test
        run: pnpm test
